@model PersonalPropertyApp.Models.PolicyItems

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PolicyItems</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Itemname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Itemname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Itemcategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Itemcategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Itemdescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Itemdescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Purchaseprice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Purchaseprice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Purchasedate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Purchasedate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Itemimage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Itemimage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Receiptimage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Receiptimage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Upc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Upc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Policy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Policy.Policyid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Itemid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
