@model IEnumerable<PersonalPropertyApp.Models.PolicyItems>

@{
    ViewData["Title"] = "Index";
}

<h1>My Personal Property Items</h1>

<p>
    <a asp-action="Create">Add New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @{
                    //Html.DisplayNameFor(model => model.Itemname)
                }
                Item
            </th>
            <th>
                @{
                    //Html.DisplayNameFor(model => model.Policynickname)
                }
                Policy
            </th>
            <th>
                @{
                    //Html.DisplayNameFor(model => model.Itemcategory)
                }
                Category
            </th>
            <th>
                @{
                    //Html.DisplayNameFor(model => model.Purchaseprice)
                }
                Price
            </th>
            <th>
                @{
                    //Html.DisplayNameFor(model => model.Itemimage)
                }
                Image
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Itemname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Policy.Policynickname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Itemcategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Purchaseprice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Itemimage)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Itemid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Itemid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Itemid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
