@model PersonalPropertyApp.Models.PolicyDetails

@{
    ViewData["Title"] = "Details";
}

<h1>Details About:</h1>

<div>
    <h4>"@Html.DisplayFor(model => model.Policynickname)"</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Policytype)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Policytype)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Policynumber)*@
            Policy Number
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Policynumber)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Inscompanyname)*@
            Insurance Company
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inscompanyname)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Inscompanywebsite)*@
            Company Website
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inscompanywebsite)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Inscontactname)*@
            Contact Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inscontactname)
        </dd>

        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Inscontactphone)*@
            Contact Phone
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inscontactphone)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Inscontactemail)*@
            Contact Email
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inscontactemail)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Policyid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
