@model PersonalPropertyApp.Models.PolicyDetails

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PolicyDetails</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Policynumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Policynumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Inscompanyid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Inscompanyid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Inscompanyname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Inscompanyname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Inscontactname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Inscontactname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Inscompanywebsite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Inscompanywebsite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Inscontactphone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Inscontactphone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Inscontactemail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Inscontactemail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Policyid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
