@model IEnumerable<PersonalPropertyApp.Models.PolicyDetails>

@{
    ViewData["Title"] = "Index";
}

<h1>My Insurance Policies</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @{
                    //Html.DisplayNameFor(model => model.Policynickname)
                }
                Policy Name
            </th>
            <th>
                @{
                    //Html.DisplayNameFor(model => model.Policytype)
                }
                Policy Type
            </th>
            <th>
                @{
                    //Html.DisplayNameFor(model => model.Inscompanyname)
                }
                Insurance Company
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Policynickname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Policytype)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inscompanyname)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Policyid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Policyid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Policyid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
